node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.turbo/
bun.lock*
bun.lockb
design_system/
web_design_system/
*.zip
pnpm-lock.yaml
pnpm-workspace.yaml
.pnpm-store/

# Android & Gradle
.gradle/
**/build/
local.properties
*.apk
*.aab
pacs-sahayak-android-apk/
__pycache__/
*.pyc

# iOS & Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/**
xcuserdata/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
.build/
DerivedData/

